<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Machine</title>
    <link rel="stylesheet" href="/style/Slot/game2.css">
</head>
<body>
<div class="slot-machine">
    <div class="row">
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
    </div>
    <div class="row">
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
    </div>
    <div class="row">
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
        <div class="slot"></div>
    </div>
    <button id="spinBtn">Spin</button>
</div>


<!-- Скрипт для вашей игры -->
<script src="../../static/js/Slot/slot2/slot2.js"></script>
</body>
</html>
