<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Jackpot Land Casino</title>
</head>
<body>
<div class="icons-container">
<a  class="logo" data-testid="logoLink" href="/main">
    <img alt="logo" class="logo" src="/video/img/logo.png">
</a>
<a class="profile-icon" href="/profile">
    <img src="/video/img/profile.png" alt="Profile Icon">
</a>
    <a class ="profile-text" href="/profile">Profile</a>

    <a class="profile-icon" href="/crash1">
        <img src="/video/img/crash.png" alt="Profile Icon">
    </a>
    <a class ="profile-text" href="/crash1">Crash</a>
</div>



<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"> <img src="/video/img/slot.png" alt="Slide 1"></div>
        <div class="swiper-slide"><img src="/video/img/BJ.png" alt="Slide 2"></div>
        <div class="swiper-slide"><img src="/video/img/ruletka.png" alt="Slide 3"></div>
        <div class="swiper-slide"><img src="/video/img/crash.png" alt="Slide 4"></div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="game-container top">
    <h2>Slot Games</h2>
    <div class="game">
<!--        <img src="../static/video/img/slot1.png" alt="Game 1">-->
        <a href="/slot1">
            <img  alt="Game 1" src="/video/img/slot1.png">
        </a>
    </div>

    <div class="game">
        <a href="/slot2">
        <img  alt="Game 2" src="/video/img/test.png">
    </a>
    </div>

    <div class="game">
        <a href="/slot3">
        <img  alt="Game 3" src="/video/img/test.png">
    </a>
    </div>
    <!-- Add more games as needed -->
</div>

<div class="game1-container bottom">
    <h2>Roulette Games</h2>
    <div class="game1">
        <!--        <img src="../static/video/img/slot1.png" alt="Game 1">-->
        <a href="/roulette1">
            <img  alt="Game 1" src="/video/img/roulette1.jpg">
        </a>
    </div>

    <div class="game1">
        <a href="/roulette2">
            <img  alt="Game 2" src="/video/img/roulette2.jpg">
        </a>
    </div>

    <div class="game1">
        <a href="/slot3">
            <img  alt="Game 3" src="/video/img/test.png">
        </a>
    </div>
    <!-- Add more games as needed -->
</div>

<div class="game2-container last">
    <h2>Black Jack Games</h2>
    <div class="game2">
        <!--        <img src="../static/video/img/slot1.png" alt="Game 1">-->
        <a href="/slot1">
            <img  alt="Game 1" src="/video/img/test.png">
        </a>
    </div>

    <div class="game2">
        <a href="/slot2">
            <img  alt="Game 2" src="/video/img/test.png">
        </a>
    </div>

    <div class="game2">
        <a href="/slot3">
            <img  alt="Game 3" src="/video/img/test.png">
        </a>
    </div>
    <!-- Add more games as needed -->
</div>

<div class="balance-container">
    <p>Your balance: <span id="balance"></span></p>
</div>

<div class="logout-container">
    <a class="logout-btn" href="/">Log Out</a>
</div>




<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
        },
    });


    document.addEventListener("DOMContentLoaded", async e => {
        try {
            const accessToken = window.localStorage.getItem("accessToken")

            if(accessToken) {
                const response = await fetch("/auth/sign-in", {
                    method: "Get",
                    headers: {
                        'Authorization': `Bearer ${accessToken}`
                    }
                })

                console.log(response)
            }
        } catch(error) {
            console.log(error.message)
        }
    });


    document.addEventListener("DOMContentLoaded", async () => {
        try {
            const accessToken = window.localStorage.getItem("accessToken");
            if (accessToken) {
                const response = await fetch("/main", {
                    method: "POST",
                    headers: {
                        Authorization: `Bearer ${accessToken}`
                    }
                });
                const data = await response.text();
                document.getElementById("balance").textContent = data;
            } else {
                document.getElementById("balance").textContent = "Token not available";
            }
        } catch (error) {
            console.log("Error fetching balance:", error.message);
            document.getElementById("balance").textContent = "Error fetching balance";
        }
    });

    //
    // document.addEventListener("DOMContentLoaded", async () => {
    //     try {
    //         const accessToken = window.localStorage.getItem("accessToken");
    //         if (accessToken) {
    //             const response = await fetch("/auth/id", {
    //                 method: "GET",
    //                 headers: {
    //                     Authorization: `Bearer ${accessToken}`
    //                 }
    //             });
    //             const data = await response.json();
    //             if (data && data.id !== undefined) {
    //                 document.getElementById("id").textContent = `id: ${data.id}`;
    //             } else {
    //                 document.getElementById("id").textContent = "Id not available";
    //             }
    //         } else {
    //             document.getElementById("id").textContent = "Token not available";
    //         }
    //     } catch (error) {
    //         console.log("Error fetching id:", error.message);
    //         document.getElementById("id").textContent = "Error fetching id";
    //     }
    // });
    //
    // document.addEventListener("DOMContentLoaded", async () => {
    //     try {
    //         const accessToken = window.localStorage.getItem("accessToken");
    //         if (accessToken) {
    //             const response = await fetch("/auth/username", {
    //                 method: "GET",
    //                 headers: {
    //                     Authorization: `Bearer ${accessToken}`
    //                 }
    //             });
    //             const data = await response.json();
    //             if (data && data.username !== undefined) {
    //                 document.getElementById("username").textContent = `username: ${data.username}`;
    //             } else {
    //                 document.getElementById("username").textContent = "username not available";
    //             }
    //         } else {
    //             document.getElementById("username").textContent = "Token not available";
    //         }
    //     } catch (error) {
    //         console.log("Error fetching username:", error.message);
    //         document.getElementById("username").textContent = "Error fetching id";
    //     }
    // });
    //
    // document.addEventListener("DOMContentLoaded", async () => {
    //     try {
    //         const accessToken = window.localStorage.getItem("accessToken");
    //         if (accessToken) {
    //             const response = await fetch("/auth/password", {
    //                 method: "GET",
    //                 headers: {
    //                     Authorization: `Bearer ${accessToken}`
    //                 }
    //             });
    //             const data = await response.json();
    //             if (data && data.password !== undefined) {
    //                 document.getElementById("password").textContent = `password: ${data.password}`;
    //             } else {
    //                 document.getElementById("password").textContent = "password not available";
    //             }
    //         } else {
    //             document.getElementById("password").textContent = "Token not available";
    //         }
    //     } catch (error) {
    //         console.log("Error fetching password:", error.message);
    //         document.getElementById("password").textContent = "Error fetching password";
    //     }
    // });

</script>
</body>
</html>


