*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.background img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity .4s;
}
.swiper.view {
    opacity: 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    transform: translateY(10px);
    opacity: 0;
    transition: opacity .3s, transform .3s;
}
.swiper:hover .swiper-pagination {
    transform: translateY(0);
    opacity: 1;
}
.swiper-pagination-bullet {
    background-color: #FF6B2C;
    opacity: 1;
    transition: all .3s;
}
.swiper-pagination-bullet-active {
    width: 16px;
    border-radius: 4px;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: transparent;
    border: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #FF6B2C;
}

.swiper-button-prev {
    transform: translateX(-30px);
    opacity: 0;
    transition: opacity .3s, transform .3s;
}
.swiper-button-next {
    transform: translateX(30px);
    opacity: 0;
    transition: opacity .3s, transform .3s;
}

.swiper:hover .swiper-navigation .swiper-button-prev {
    transform: translateX(0);
    opacity: 1;
}
.swiper:hover .swiper-navigation .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 30px;
    background-color: #090c23da;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.header{
    background-color: #11112b;
    border-radius: 16px;
    height: 100px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity .2s, transform .4s;
    position: relative;
    z-index: 100;
}
.header.view {
    transform: translateY(0);
    opacity: 1;
}
.header__logo {
    display: block;
    flex: 0 0 auto;
    height: 100%;
    transform: scale(1);
    transition: transform .3s;
}
.header__logo:hover {
    transform: scale(1.05);
}
.header__logo img {
    max-width: 100%;
    max-height: 100%;
}
.header__buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.header__profile-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__profile {
    display: block;
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.header__profile img {
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
}
.header__profile-modal {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1E1B39;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, transform .3s;
    z-index: 10000;
}
.header__profile-wrapper:hover .header__profile-modal {
    opacity: 1;
    transform: translateY(-10px);
    pointer-events: all;
}
.header__profile-cabinet {
    font-size: 24px;
    color: #FEFEFF;
}
.header__button.button {
    padding: 8px 10px;
    font-size: 14px;
}

.button {
    display: block;
    position: relative;
    background: rgb(169,130,251);
    background: linear-gradient(150deg, rgba(169,130,251,1) 0%, rgba(98,32,238,1) 42%);
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid rgb(133, 87, 233);
    color: #FEFEFF;
    transform: scale(1);
    transition: opacity .3s, transform .3s;
    text-align: center;
    white-space: nowrap;
}
.button:hover {
    opacity: .8;
    transform: scale(1.1);
}
.button:active {
    opacity: 1;
    transform: scale(1);
}
.header__balance {}
.balance {
    display: block;
    position: relative;
    border: 1px solid #1E1B39;
    padding: 12px 24px;
    border-radius: 8px;
    color: #FEFEFF;
    background: rgb(255,107,44);
    background: linear-gradient(45deg, rgba(255,107,44,1) 0%, rgba(255,255,255,0) 42%);
    overflow: hidden;
    height: 56px;
}
.balance .header__balance-wrapper {
    transform: translateY(-56px);
}
.balance .header__balance-form {
    transform: translateY(-32px);
}
.balance.value .header__balance-wrapper {
    transform: translateY(0px);
}
.balance.value .header__balance-form {
    transform: translateY(56px);
}
.balance span {
    font-size: 18px;
    font-weight: 600;
}
.header__balance-wrapper {
    display: flex;
    align-items: center;
    gap: 8px; 
    height: 32px;
    transition: transform .3s;
}
.header__set-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;    
    height: 32px;
    background-color: transparent;
    border: 1px solid rgb(255,107,44);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.header__set-balance:hover img {
    transform: scale(1.3)
}
.header__set-balance img {
    transition: transform .3s;
    width:12px;
    height: 12px;
}
.header__balance-form {
    display: flex;
    align-items: center;
    height: 32px;
    transition: transform .3s;
    gap: 8px;
}
.header__balance-input {
    height: 100%;
    width: 100%;
    position: relative;
}
.header__balance-input::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #11112b;
    transform: translateY(-50%);
}
.header__balance-input input {
    height: 100%;
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 18px;
}
.header__balance-apply {
    flex: 0 0 auto;
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(255,107,44);
    background-color: transparent;
    border-radius: 8px;
    color: white;
    transition: background-color .3s;
    cursor: pointer;
}
.header__balance-apply:hover {
    background-color: rgb(255,107,44);
}
.header__balance-close {
    border: none;
    background: transparent;
    cursor: pointer;
}
.header__blanace-close img {
    width: 12px;
    height: 12px;
}
.header__crash {
    height: 50px;
    width: 50px;
    transform: scale(1);
    transition: transform .3s;
}
.header__crash:hover {
    transform: scale(1.05);
}
.header__crash img {
    max-width: 100%;
    max-height: 100%;
}

.game__container {}
.game__container:not(:last-child) {
    margin-bottom: 30px;
}
.game__title {
    font-size: 32px;
    font-weight: 600;
    color: #FEFEFF;
    margin-bottom: 16px;
    transform: translateX(50px);
    opacity: 0;
    transition: opacity .1s, transform .3s;
}
.game__container.view .game__title {
    opacity: 1;
    transform: translateX(0);
}
.game__links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 100%;
    opacity: 0;
    transition: opacity .3s;
}
.game__container.view .game__links {
    opacity: 1;
}
.game__link {
    display: block;
    border-radius: 16px;
    overflow: hidden;
    transform: scale(1);
    transition: transform .3s;
}
.game__link:hover {
    transform: scale(1.05);
}
.game__link img {
    width: 100%;
    height: 100%;
}