<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot Machine Challenge</title>
    <link rel="stylesheet" href="/style/game1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Press+Start+2P&display=swap"
          rel="stylesheet">
</head>

<body>
<div id="app">
    <a _ngcontent-ng-c2769780292="" uiremovehrefonactivelink="" class="logo" data-testid="logoLink" href="/main">
        <img _ngcontent-ng-c2769780292="" alt="logo" class="logo" src="/video/img/logo.png">
    </a>
    <div id="info">
        <div class="saldo-container">
            <span id="saldo"></span>
        </div>
        <div class="valor-container">
            <span id="valor"></span>
        </div>
    </div>


    <div class="reels-container">
        <div class="reel">
            <div class="squares"></div>
        </div>

        <div class="reel">
            <div class="squares"></div>
        </div>

        <div class="reel">
            <div class="squares"></div>

        </div>
    </div>

    <div class="buttons">
        <button id="start" data-play>Play</button>
    </div>

    <div id="winimage">
        <img id="winline" src="../static/style/img/game1/winline.png">
    </div>
</div>
</body>
<script src="../static/js/Slot/game1/game1.js"></script>

</html>