<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/video.css">
    <title>Jackpot Land Casino</title>
</head>
<body>
<div class="video-bg">
    <video src="/video/video-bg.mp4" type="video/mp4" autoplay muted loop></video>
    <div class="effects">
    <div class="video-bg__content">
        <h1>Jackpot Land Casino</h1>
        <a href="/register" class="btn-sign-in">Sign Up</a>
        <a href="/login" class="btn-sign-in">Sign In</a>
    </div>
    </div>
</div>
</body>
</html>