<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/style/main.css">
    <title>Jackpot Land Casino</title>
</head>
<body>
    
    <div class="background">
        <img src="/style/img/background.jpg" alt="background">
    </div>

    <div class="container">

        <header class="header">
                <a  class="header__logo logo" data-testid="logoLink" href="/main">
                    <img alt="logo" class="header__image logo" src="/video/img/logo.png">
                </a>
                
                <div class="header__buttons logout-container">
                    <div class="header__balance balance value">
                        <div class="header__balance-wrapper">
                            <p class="header__balance-value">Your balance: <span id="balance">1200</span></p>
                            <button class="header__set-balance">
                                <img alt="plus icon" src="/video/img/plus-sign.png">
                            </button>
                        </div>
                        <form class="header__balance-form" action="#">
                            <div class="header__balance-input">
                                <input type="number" placeholder="Set your balance" />
                            </div>
                            <button class="header__balance-apply">Ok</button>
                            <button class="header__balance-close">
                                <img alt="close icon" src="/video/img/close.png">
                            </button>
                        </form>
                    </div>
                    <div class="header__profile-wrapper">
                        <a class="header__profile" href="/profile">
                            <img src="/video/img/profile.png" alt="Profile icon">
                        </a>
                        <div class="header__profile-modal">
                            <a class="header__profile-cabinet" href="/profile">Profile</a>
                            <a class="header__button logout-btn button" href="/">Log Out</a>
                        </div>
                    </div>
                    <a class="header__crash profile-icon" href="/crash1">
                        <img src="/video/img/crash.png" alt="Profile Icon">
                    </a>
                </div>
        </header>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <img src="/video/img/slot.png" alt="Slide 1"></div>
                <div class="swiper-slide"><img src="/video/img/BJ.png" alt="Slide 2"></div>
                <div class="swiper-slide"><img src="/video/img/ruletka.png" alt="Slide 3"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-navigation">
                <button class="swiper-button-prev"></button>
                <button class="swiper-button-next"></button>
            </div>
        </div>

        <div class="game__container">
            <h2 class="game__title">Slot Games</h2>

            <div class="game__links">
                <a class="game__link" href="/slot1">
                    <img  alt="Game 1" src="/video/img/slot1.png">
                </a>
                <a class="game__link" href="/slot2">
                    <img  alt="Game 2" src="/video/img/test.png">
                </a>
                <a class="game__link" href="/slot3">
                    <img  alt="Game 3" src="/video/img/test.png">
                </a>
            </div>
        </div>

        <div class="game__container">
            <h2 class="game__title">Roulette Games</h2>

            <div class="game__links">
                <a class="game__link" href="/roulette1">
                    <img  alt="Game 1" src="/video/img/roulette1.jpg">
                </a>
                <a class="game__link" href="/roulette2">
                    <img  alt="Game 2" src="/video/img/roulette2.jpg">
                </a>
                <a class="game__link" href="/slot3">
                    <img  alt="Game 3" src="/video/img/test.png">
                </a>
            </div>
        </div>

        <div class="game__container">
            <h2 class="game__title">Roulette Games</h2>

            <div class="game__links">
                <a class="game__link" href="/slot1">
                    <img  alt="Game 1" src="/video/img/test.png">
                </a>
                <a class="game__link" href="/slot2">
                    <img  alt="Game 2" src="/video/img/test.png">
                </a>
                <a class="game__link" href="/slot3">
                    <img  alt="Game 3" src="/video/img/test.png">
                </a>
            </div>
        </div>

    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            autoplay: true,

            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });


        document.addEventListener("DOMContentLoaded", async e => {
            try {
                const accessToken = window.localStorage.getItem("accessToken")

                if(accessToken) {
                    const response = await fetch("/auth/sign-in", {
                        method: "Get",
                        headers: {
                            'Authorization': `Bearer ${accessToken}`
                        }
                    })

                    console.log(response)
                }
            } catch(error) {
                console.log(error.message)
            }
        });


        document.addEventListener("DOMContentLoaded", async () => {
            try {
                const accessToken = window.localStorage.getItem("accessToken");
                if (accessToken) {
                    const response = await fetch("/main", {
                        method: "POST",
                        headers: {
                            Authorization: `Bearer ${accessToken}`
                        }
                    });
                    const data = await response.text();
                    document.getElementById("balance").textContent = data;
                } else {
                    document.getElementById("balance").textContent = "Token not available";
                }
            } catch (error) {
                console.log("Error fetching balance:", error.message);
                document.getElementById("balance").textContent = "Error fetching balance";
            }
        });

        //
        // document.addEventListener("DOMContentLoaded", async () => {
        //     try {
        //         const accessToken = window.localStorage.getItem("accessToken");
        //         if (accessToken) {
        //             const response = await fetch("/auth/id", {
        //                 method: "GET",
        //                 headers: {
        //                     Authorization: `Bearer ${accessToken}`
        //                 }
        //             });
        //             const data = await response.json();
        //             if (data && data.id !== undefined) {
        //                 document.getElementById("id").textContent = `id: ${data.id}`;
        //             } else {
        //                 document.getElementById("id").textContent = "Id not available";
        //             }
        //         } else {
        //             document.getElementById("id").textContent = "Token not available";
        //         }
        //     } catch (error) {
        //         console.log("Error fetching id:", error.message);
        //         document.getElementById("id").textContent = "Error fetching id";
        //     }
        // });
        //
        // document.addEventListener("DOMContentLoaded", async () => {
        //     try {
        //         const accessToken = window.localStorage.getItem("accessToken");
        //         if (accessToken) {
        //             const response = await fetch("/auth/username", {
        //                 method: "GET",
        //                 headers: {
        //                     Authorization: `Bearer ${accessToken}`
        //                 }
        //             });
        //             const data = await response.json();
        //             if (data && data.username !== undefined) {
        //                 document.getElementById("username").textContent = `username: ${data.username}`;
        //             } else {
        //                 document.getElementById("username").textContent = "username not available";
        //             }
        //         } else {
        //             document.getElementById("username").textContent = "Token not available";
        //         }
        //     } catch (error) {
        //         console.log("Error fetching username:", error.message);
        //         document.getElementById("username").textContent = "Error fetching id";
        //     }
        // });
        //
        // document.addEventListener("DOMContentLoaded", async () => {
        //     try {
        //         const accessToken = window.localStorage.getItem("accessToken");
        //         if (accessToken) {
        //             const response = await fetch("/auth/password", {
        //                 method: "GET",
        //                 headers: {
        //                     Authorization: `Bearer ${accessToken}`
        //                 }
        //             });
        //             const data = await response.json();
        //             if (data && data.password !== undefined) {
        //                 document.getElementById("password").textContent = `password: ${data.password}`;
        //             } else {
        //                 document.getElementById("password").textContent = "password not available";
        //             }
        //         } else {
        //             document.getElementById("password").textContent = "Token not available";
        //         }
        //     } catch (error) {
        //         console.log("Error fetching password:", error.message);
        //         document.getElementById("password").textContent = "Error fetching password";
        //     }
        // });

        let option = {
            root: null,
            rootMargin: "0px",
            threshold: 0.3
        }
        
        let observer = new IntersectionObserver(callbackFunc, option)
        
        const header = document.querySelector('.header')
        const swiper_slider = document.querySelector('.swiper')
        const game = document.querySelectorAll('.game__container')
        
        createObservers()
        
        function createObservers() {
            if(header) observer.observe(header)
            if(swiper_slider) observer.observe(swiper_slider)
            if(game.length) {
                game.forEach(element => {
                    observer.observe(element)
                })
            }
        }
        
        function callbackFunc(entries, observer) {
            entries.forEach(entry => {
                const currentTarget = entry.target
        
                if(entry.isIntersecting) {
                    currentTarget.classList.add("view")
                }
            })
        }

    </script>
    <script src="/js/setBalance.js"></script>
</body>
</html>