<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>Jackpot Land Casino</title>
</head>
<body>
<a _ngcontent-ng-c2769780292="" uiremovehrefonactivelink="" class="logo" data-testid="logoLink" href="/main">
    <img _ngcontent-ng-c2769780292="" alt="logo" class="logo" src="/video/img/logo.png">
</a>

<div class="slider-container">
    <div class="slides">
        <div class="slide">
            <img src="/video/img/slot.png" alt="Slide 1">
        </div>
        <div class="slide">
            <img src="/video/img/BJ.png" alt="Slide 2">
        </div>
        <div class="slide">
            <img src="/video/img/ruletka.png" alt="Slide 3">
        </div>
    </div>
    <button class="prev-btn"></button>
    <button class="next-btn"></button>
</div>


<div class="game-container top">
    <h2>Slot Games</h2>
    <div class="game">
<!--        <img src="../static/video/img/slot1.png" alt="Game 1">-->
        <a href="/slot1">
            <img  alt="Game 1" src="/video/img/slot1.png">
        </a>
    </div>

    <div class="game">
        <a href="/slot2">
        <img  alt="Game 2" src="/video/img/test.png">
    </a>
    </div>

    <div class="game">
        <a href="/slot3">
        <img  alt="Game 3" src="/video/img/test.png">
    </a>
    </div>
    <!-- Add more games as needed -->
</div>

<div class="game1-container bottom">
    <h2>Roulette Games</h2>
    <div class="game1">
        <!--        <img src="../static/video/img/slot1.png" alt="Game 1">-->
        <a href="/roulette1">
            <img  alt="Game 1" src="/video/img/roulette1.jpg">
        </a>
    </div>

    <div class="game1">
        <a href="/roulette2">
            <img  alt="Game 2" src="/video/img/roulette2.jpg">
        </a>
    </div>

    <div class="game1">
        <a href="/slot3">
            <img  alt="Game 3" src="/video/img/test.png">
        </a>
    </div>
    <!-- Add more games as needed -->
</div>

<div class="game2-container last">
    <h2>Black Jack Games</h2>
    <div class="game2">
        <!--        <img src="../static/video/img/slot1.png" alt="Game 1">-->
        <a href="/slot1">
            <img  alt="Game 1" src="/video/img/test.png">
        </a>
    </div>

    <div class="game2">
        <a href="/slot2">
            <img  alt="Game 2" src="/video/img/test.png">
        </a>
    </div>

    <div class="game2">
        <a href="/slot3">
            <img  alt="Game 3" src="/video/img/test.png">
        </a>
    </div>
    <!-- Add more games as needed -->
</div>



<script src="../static/js/main.js"></script>

</body>
</html>
